<a href="https://colab.research.google.com/github/NomadCoder101/colabs/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# INTRO

In [ ]:
a_py=[10,20,30,40,50,60]

In [ ]:
type(a_py)

list

In [ ]:
b_np = np.array([10,20,30,40,50,60])

In [ ]:
type(b_np)

numpy.ndarray

In [ ]:
a_py

[10, 20, 30, 40, 50, 60]

In [ ]:
b_np

array([10, 20, 30, 40, 50, 60])

In [ ]:
arr=[]
for i in a_py:
    arr.append(i * 10)

arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr =list(map(lambda x: x * 10 ,a_py))

arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr=[i*10 for i in a_py]
arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr =10 * b_np
arr

array([100, 200, 300, 400, 500, 600])

# SERIES

In [ ]:
students =['john','jill','jack','david']

In [ ]:
type(students)

list

In [ ]:
pd.Series(students)

0     john
1     jill
2     jack
3    david
dtype: object

In [ ]:
ages=[20,34,55,24]
pd.Series(ages)

0    20
1    34
2    55
3    24
dtype: int64

In [ ]:
heights=[1.5,1.4,1.7,1.6]

pd.Series(heights)

0    1.5
1    1.4
2    1.7
3    1.6
dtype: float64

In [ ]:
mixed=[True,'say',{'mood':100}]

pd.Series(mixed)

0             True
1              say
2    {'mood': 100}
dtype: object

Parameter Vs Argument

In [ ]:
pd.Series(data=students)

0     john
1     jill
2     jack
3    david
dtype: object

What is in the data

In [22]:
books_list =['fooled by randomness','sapiens','python']

In [91]:
genre=['sci-fi','history','coding']

In [92]:
pd.Series(books_list,name='favorite books',index=genre)

sci-fi     fooled by randomness
history                 sapiens
coding                   python
Name: favorite books, dtype: object

In [52]:
from string import ascii_lowercase,ascii_uppercase

In [86]:
letters = list(ascii_lowercase)
alphabets = pd.Series(letters,index=list(ascii_uppercase))
alphabets = pd.Series(letters,index=list(map(lambda x: "label_" + x,list(ascii_uppercase))))
alphabets=alphabets.add_suffix('_suffix')

# type(alphabets)

In [87]:
# list(map(lambda x: "label_" + x,list(ascii_uppercase)))

In [88]:
alphabets.loc['label_A':'label_F']
alphabets.loc['label_U':]
alphabets.loc[:'label_C']

label_A_suffix    a
label_B_suffix    b
dtype: object

O

In [89]:
alphabets.loc[[True if i%2 == 0 else False for i in range(26)]]
alphabets.loc[[True if i%2 == 0 else False for i in range(len(alphabets))]]

label_A_suffix    a
label_C_suffix    c
label_E_suffix    e
label_G_suffix    g
label_I_suffix    i
label_K_suffix    k
label_M_suffix    m
label_O_suffix    o
label_Q_suffix    q
label_S_suffix    s
label_U_suffix    u
label_W_suffix    w
label_Y_suffix    y
dtype: object