<a href="https://colab.research.google.com/github/NomadCoder101/colabs/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# INTRO

In [ ]:
a_py=[10,20,30,40,50,60]

In [ ]:
type(a_py)

list

In [ ]:
b_np = np.array([10,20,30,40,50,60])

In [ ]:
type(b_np)

numpy.ndarray

In [ ]:
a_py

[10, 20, 30, 40, 50, 60]

In [ ]:
b_np

array([10, 20, 30, 40, 50, 60])

In [ ]:
arr=[]
for i in a_py:
    arr.append(i * 10)

arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr =list(map(lambda x: x * 10 ,a_py))

arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr=[i*10 for i in a_py]
arr

[100, 200, 300, 400, 500, 600]

In [ ]:
arr =10 * b_np
arr

array([100, 200, 300, 400, 500, 600])

# SERIES

In [ ]:
students =['john','jill','jack','david']

In [ ]:
type(students)

list

In [ ]:
pd.Series(students)

0     john
1     jill
2     jack
3    david
dtype: object

In [ ]:
ages=[20,34,55,24]
pd.Series(ages)

0    20
1    34
2    55
3    24
dtype: int64

In [ ]:
heights=[1.5,1.4,1.7,1.6]

pd.Series(heights)

0    1.5
1    1.4
2    1.7
3    1.6
dtype: float64

In [ ]:
mixed=[True,'say',{'mood':100}]

pd.Series(mixed)

0             True
1              say
2    {'mood': 100}
dtype: object

Parameter Vs Argument

In [ ]:
pd.Series(data=students)

0     john
1     jill
2     jack
3    david
dtype: object

What is in the data

In [22]:
books_list =['fooled by randomness','sapiens','python']

In [91]:
genre=['sci-fi','history','coding']

In [92]:
pd.Series(books_list,name='favorite books',index=genre)

sci-fi     fooled by randomness
history                 sapiens
coding                   python
Name: favorite books, dtype: object

In [52]:
from string import ascii_lowercase,ascii_uppercase

In [86]:
letters = list(ascii_lowercase)
alphabets = pd.Series(letters,index=list(ascii_uppercase))
alphabets = pd.Series(letters,index=list(map(lambda x: "label_" + x,list(ascii_uppercase))))
alphabets=alphabets.add_suffix('_suffix')

# type(alphabets)

In [87]:
# list(map(lambda x: "label_" + x,list(ascii_uppercase)))

In [88]:
alphabets.loc['label_A':'label_F']
alphabets.loc['label_U':]
alphabets.loc[:'label_C']

label_A_suffix    a
label_B_suffix    b
dtype: object

O

In [93]:
alphabets.loc[[True if i%2 == 0 else False for i in range(26)]]
alphabets.loc[[True if i%2 == 0 else False for i in range(len(alphabets))]].head()

label_A_suffix    a
label_C_suffix    c
label_E_suffix    e
label_G_suffix    g
label_I_suffix    i
dtype: object

In [94]:
alphabets.iloc[0]

'a'

In [96]:
alphabets.iloc[0:3]

label_A_suffix    a
label_B_suffix    b
label_C_suffix    c
dtype: object

In [105]:
alphabets.iloc[[0,6,25]]  # alphabets.iloc[['rows'],['columns']]

label_A_suffix    a
label_G_suffix    g
label_Z_suffix    z
dtype: object

Using callable with iloc and loc

In [107]:
alphabets.loc['label_V_suffix']

'v'

In [109]:
alphabets.loc[lambda x: 'label_V_suffix']

'v'

In [110]:
alphabets.loc[lambda x: ['label_V_suffix','label_A_suffix']]

label_V_suffix    v
label_A_suffix    a
dtype: object

In [112]:
alphabets.loc[lambda x: [True for x in range(alphabets.size)]].head()

label_A_suffix    a
label_B_suffix    b
label_C_suffix    c
label_D_suffix    d
label_E_suffix    e
dtype: object

In [118]:
def every_fifth(x):
    return [True if x %5 == 0 else False for x in range(x.size)]

In [116]:
def every_fifth(x):
    return [True if (x+1) %5 == 0 else False for x in range(x.size)]

In [117]:
alphabets.loc[every_fifth]

label_E_suffix    e
label_J_suffix    j
label_O_suffix    o
label_T_suffix    t
label_Y_suffix    y
dtype: object

Selecting with get()

In [120]:
alphabets.get('label_A_suffix')

'a'

In [121]:
alphabets.loc['label_A_suffix']

'a'

In [122]:
alphabets['label_A_suffix']

'a'

In [124]:
alphabets.get('label_Inexistent') == None

True

In [133]:
# alphabets.get('label_Inexistent' , default=19)
# alphabets.get('label_Inexistent' , default={'19':20})
# alphabets.get('label_Inexistent' , default=['apples'])
alphabets.get('label_Inexistent' , default='Label Not Found')

'Label Not Found'

SELECTION RECAP BY LABEL

[]indeixing  series['label']
.loc[]       series.loc['label']
dot access   series.label
.get()       series.get('label')


SELECTION RECAP BY POSITION

[]indeixing  series[0]
.loc[]       series.loc[0]

.get()       series.get(0)

In [144]:

squares =[x**2 for x in range(100)]
squares = pd.Series(squares)


# squares.tail(3) == squares[97:]
# squares.tail(3) == squares.iloc[-3:]
# squares[97:].equals(squares.tail(3))
squares[-3:].equals(squares.tail(3))

True