<a href="https://colab.research.google.com/github/NomadCoder101/colabs/blob/main/SECTION_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
import  pandas as pd

In [140]:
# test = pd.Series([i**2 for i in range(10)])
#https://github.com/fivethirtyeight/data
# https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/alcohol-consumption/drinks.csv

Reading in Data with read_csv()

In [141]:
# df = pd.read_csv("https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv")

df = pd.read_csv(" https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/alcohol-consumption/drinks.csv")

In [142]:
# df.size
# df.shape

# df.iloc[1]

In [143]:
url ="https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv"

In [144]:
df2=pd.read_csv(url, index_col=['country'],usecols=['country','wine_servings'])

In [145]:
df2.head()
type(df2)

pandas.core.frame.DataFrame

In [146]:

df2.head(2)

             wine_servings
country
Afghanistan            NaN
Albania               54.0

In [147]:
alcohol=pd.read_csv(url,usecols=['country','wine_servings'],index_col='country').squeeze()

# type(alcohol)
print(type(alcohol))

<class 'pandas.core.series.Series'>

In [148]:
#convert to series
# alcohol.head()

# x=alcohol.iloc[:,0]
# x.info()
#type(x)

In [149]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [150]:
alcohol.info()

<class 'pandas.core.series.Series'>
Index: 193 entries, Afghanistan to Zimbabwe
Series name: wine_servings
Non-Null Count  Dtype
--------------  -----
162 non-null    float64
dtypes: float64(1)
memory usage: 3.0+ KB

In [151]:
alcohol.size

193

In [152]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [153]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [154]:
alcohol.values.size == alcohol.index.size

True

In [155]:
alcohol.shape

(193,)

In [156]:
alcohol.size == alcohol.shape[0]

True

In [157]:
len(alcohol)

193

Unique Values and Series Monotonocity

In [158]:
alcohol.is_unique

False

In [159]:
alcohol.head().is_unique

True

In [160]:
alcohol.nunique()

71

In [161]:
alcohol.nunique(dropna=False)

72

#monotonicity

In [162]:
# is_monotonic_increasing = alcohol.is_monotonic_increasing
# is_monotonic_decreasing = alcohol.is_monotonic_decreasing
alcohol.is_monotonic_increasing

False

In [163]:
pd.Series([1,2,4,5,5,5,5]).is_monotonic_increasing

True

In [164]:
pd.Series([1,2,4,5,5,5,5,2]).is_monotonic_increasing

False

In [165]:
pd.Series(reversed([1,2,4,5,5,5,5,100])).is_monotonic_increasing

False

In [166]:
pd.Series(reversed([1,2,4,5,5,5,5,100])).is_monotonic_decreasing

True

Count() method

In [167]:
alcohol.count()

162

In [168]:
alcohol.size

193

In [169]:
alcohol.hasnans

True

Accesing and counting NA's

In [170]:
alcohol.size

193

In [171]:
alcohol.count()

162

In [172]:
alcohol.isna().sum()
alcohol.isna()

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [173]:
alcohol[alcohol.isnull()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [174]:
alcohol[alcohol.isnull()].index
type(alcohol[alcohol.isnull()].index)

pandas.core.indexes.base.Index

In [175]:
list(alcohol[alcohol.isnull()].index)

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [176]:
len(list(alcohol[alcohol.isnull()].index))

31

In [177]:
alcohol.isnull().sum()

31

In [178]:
all = alcohol.size
nonulls  = alcohol.count()
nulls = alcohol.isnull().sum()

all == nonulls + nulls

True

In [179]:
alcohol.loc[alcohol.isnull()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

Another Approach

In [180]:
import numpy  as np

In [181]:
ser = pd.Series([True,True,None,4,],dtype=float)
# ser.isna()
np.isnan(ser)

0    False
1    False
2     True
3    False
dtype: bool

In [182]:
ser

0    1.0
1    1.0
2    NaN
3    4.0
dtype: float64

In [183]:
# np.isnan(alcohol)
len(alcohol[np.isnan])
alcohol[np.isnan].size

31

#THE other  side notna and notnull

In [184]:
# alcohol[alcohol.notnull()]
alcohol.notnull()
# alcohol.notna()

country
Afghanistan    False
Albania         True
Algeria         True
Andorra         True
Angola          True
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia          True
Zimbabwe        True
Name: wine_servings, Length: 193, dtype: bool

In [185]:
alcohol.notnull()
alcohol.loc[alcohol.notnull()]

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [186]:
alcohol.notnull().sum()

162

In [187]:
alcohol.isnull().sum()

31

In [188]:
alcohol.isnull().sum() + alcohol.notnull().sum() == alcohol.size

True

Booleans are Literally numbers in python

In [189]:
True + 1

2

In [190]:
(True +2 -False) * (True+True)

6

6

In [191]:
bool.__mro__

(bool, int, object)

(bool, int, object)

isolate the notnulls  , find the total serivngs , find the countries with less than 100 serivings.

In [200]:
wine_servings =alcohol.loc[alcohol.notnull()]

sum(wine_servings)

8221.0

In [201]:
wine_servings.loc[wine_servings < 100].sum()

2416.0